

<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    
    <!-- VUEJS  PROGRESIVO -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    

    <title>PAGINA 1</title>
  </head>
  <body>
    
    

    <div id="aplicaciontecnoprofe"> 
      


      <div class="container">          
        <div class="row">
            <div class="col-md-3 " style="background: #5D4037;">
                <a href="" class="btn btn-lg btn-block" style="background:#FF4081;">inicio</a>
                <a href="" class="btn btn-lg btn-block" style="background:#FF4081;">Contacto</a>
                <a href="" class="btn btn-lg btn-block" style="background:#FF4081;">Productos</a>
                <a href="" class="btn btn-lg btn-block" style="background:#FF4081;">Whatsapp</a>
                

            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="https://delhierropablo.com/wp-content/uploads/disen%CC%83o-web-jerez-de-la-frontera-desarrollo-web.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="https://delhierropablo.com/wp-content/uploads/disen%CC%83o-web-jerez-de-la-frontera-desarrollo-web.jpg" class="d-block w-100" alt="...">
                              </div>                          
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3">
                            
                        
                      <div v-bind:class="mensaje">
                        <span v-bind:class="mensaje">SOY UN SPAN Peligroso</span>
                      </div>
                      

                        <input type="text" v-model="mensaje">
                        <input type="text" v-model="variable2" >
                        
                        <button v-on:click="mensaje">sumar</button>
                        <label for="">La suma es: {{this.resultado}} </label>
                        
                    </div>                
                    <div class="col-md-3">                   
                        <h1>Convertir USD a BS.-</h1>   
                        <input type="text" v-model="usd" >
                        <input type="text" v-model="tipo_cambio" >
                        
                        <button v-on:click="conversion">conversion</button>
                        <label for="">La suma es: {{this.bolivianos}} </label>
                    </div>                
                    <div class="col-md-3">
                      <h2>ECUACION 2 GRADO</h2>                      
                      <input type="text" v-model="a">
                      <input type="text" v-model="b">
                      <input type="text" v-model="c">
                      <button v-on:click="ecuacion2grado">Ecuacion de 2do grado</button>
                      <label for="">{{mensajeecuacion2grado}}</label>
                      <br>
                      <label for="">raiz 1={{x1}}</label><br>
                      <label for="">raiz 2={{x2}}</label>

                    </div>                
                    <div class="col-md-3">
                      <li v-for="depa in departamentos">{{depa}} </li>
                      <ol>
                        <li v-for="pais in paises">
                          <button class="btn btn-info">{{pais.nombre}}</button>
                          <button class="btn btn-secondary">{{pais.habitantes}}</button>
                          <button class="btn btn-primary">{{pais.bandera}}</button>
                          
                        </li>
                      </ol>
                    </div>                
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 " style="background: #D7CCC8;">
            
            <div class="badge text-wrap m-3" style="background: #757575;" >
              Contatos: 65656565
            </div>
            <div class="badge text-wrap m-3" style="background: #757575;" >
              whatsapp: 456456
            </div>
            <div class="badge text-wrap m-3" style="background: #757575;" >
              Facebook
            </div>

          </div>        
          <div class="col-md-8 bg-dark">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>            
              <button type="submit" class="btn btn-danger p-3 m-5">Enviar correo electronico</button>            


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Enviar correo
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Correo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Su correo fue enviado
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>



            </form>

            
          </div>        
          
        </div>
      </div>
    
    </div>


    

    <script>
      var app = new Vue({
        
        el: '#aplicaciontecnoprofe',        
        data:{
          mensaje:"bg-warning",
          variable1:"",
          variable2:"",
          usd:"",
          tipo_cambio:"",
          bolivianos:"",
          a:"",
          b:"",
          c:"",
          d:"",
          x1:"",
          x2:"",
          mensajeecuacion2grado:"Resultado:",
          x2:"",
          departamentos:["Santa Cruz","La Paz","Cochabamba","Potosi"],
          paises:[{nombre:"Bolivia",habitantes:"11 millones",bandera:"rojo,amarillo,verde"},
                  {nombre:"Argentna",habitantes:"29 millones",bandera:"celeste,blanco,celeste"},                  
                ]

        },
        methods:{          
          mensaje: function (){
            this.resultado= parseInt(this.variable1)+ parseInt(this.variable2);            
          },
          conversion: function (){
            this.bolivianos= parseInt(this.usd)* parseInt(this.tipo_cambio);            
          },
          ecuacion2grado:function(){
            this.d=(this.b*this.b)-(4*this.a*this.c);
            if(this.d>0){              
              this.mensajeecuacion2grado="Resultado:";
              this.x1=(-this.b+Math.sqrt(this.d))/(2*this.a);
              this.x2=(-this.b-Math.sqrt(this.d))/(2*this.a);
            }
            else{
              this.mensajeecuacion2grado="NO HAY SOLUCIÓN (raices imaginarias)";              
              this.x1="";
              this.x2="";
            }
          }
        }
      });
    </script>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>